@font-face {
    font-family: "Geo";
    src: url("Geo-Regular.ttf");
}

html{
    background-color: #B9FFF2;
    background-size: cover;
}

.intro{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FF0C63;
    transition: 1s;
}
.intro2{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0C8AFF;
    transition: 1s;
}

header h1{
    display: block;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    display: block;
    padding: 40px;
    position: relative;
    left: 50%;
    height: 12ch;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 20%);   
}


.brand{
    position: relative;
    font-size: 3ch;
    text-align: center;
    
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .logo{
        height: ch;
        transform: translate(-50%, 2ch); 
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .logo{
        transform: translate(-50%, 2ch); 
    }
 
}

.geo{
    font-family: 'Geo';
}